.sidebar {
  background-color: #324191;
  color: white;
  padding: 10px;
  width: 300px;
}
.sidebarBtn {
  position: absolute;
  display: none;
  padding: 15px;
  left: 0;
  top: 0;
}

.sidebar > hr {
  background-color: #666;
  margin: 0 8px;
  border: none;
  height: 1px;
}

.sidebar > .branding {
  justify-content: center;
  text-decoration: none;
  align-items: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: inherit;
  display: flex;
}
.sidebar > .branding:hover {
  cursor: pointer;
}
.sidebar > .branding > img {
  padding-right: 10px;
  height: 50px;
  width: 50px;
}

.sidebar > .rooms {
  flex-direction: column;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.15s;
  font-weight: 500;
  color: inherit;
  display: flex;
}
.sidebar > .rooms > a, .sidebar > .rooms > span {
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.15s;
  overflow: hidden;
  font-size: 18px;
  margin-top: 8px;
  color: inherit;
  padding: 8px;
}
.sidebar > .rooms > a:hover, .sidebar > .rooms > span:hover {
  background-color: rgba(255, 255, 255, 0.075) !important;
  cursor: pointer;
}

@media(max-width: 991px) {
  .sidebar {
    display: none;
    z-index: 1;
  }
  .sidebarBtn {
    cursor: pointer;
    display: block;
  }
}

@media(min-width: 992px) {
  .sidebar {
    display: block !important;
  }
  .sidebarBtn {
    display: none !important;
  }
}

@media(prefers-color-scheme: dark) {
  .sidebar {
    background-color: #283474;
  }
}