.timer {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-grow: 1;
}
.timer > * { padding: 10px 0; }
.timer > .timer__time {
  line-height: 222px;
  font-size: 96px;
}

.runnerState {
  font-size: 32px;
  margin: 10px 0;
}

@media(max-height: 640px) {
  .timer > .timer__time {
    line-height: 90px;
    font-size: 60px;
  }
  .timer > .runnerState {
    font-size: 24px;
  }
  .timer > span > h2 {
    font-size: 20px;
  }
}

.spectator__runners {
  justify-content: space-between;
  display: flex;
}

.spectator__runners > span {
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
  display: flex;
}
.spectator__runners > span > * { padding: 20px; }
.spectator__runners > span > h1 { font-size: 60px; }
.spectator__runners > span > h2 { font-size: 36px; }

@media(max-width: 991px) {
  .spectator__runners {
    flex-direction: column;
  }
  @media(min-height: 768px) {
    .spectator__runners > span {
      margin: 50px 0;
    }
  }
}