.timer {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-grow: 1;
}
.timer > * { padding: 10px 0; }
.timer > .timer__time {
  line-height: 222px;
  font-size: 96px;
}

.runnerState {
  color: #22b14c !important;
  font-size: 32px !important;
  margin: 10px 0 !important;
}

.spectator__runners {
  justify-content: space-between;
  display: flex;
}

.spectator__runners > span {
  flex-direction: column;
  text-align: center;
  display: flex;
}
.spectator__runners > span > * { padding: 20px; }
.spectator__runners > span > h1 { font-size: 60px; }
.spectator__runners > span > h2 { font-size: 36px; }